
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
}
.header{
	padding:1% 5%;
	min-height: 600px;
	color:#fff;
	font-size: 16px;
	background: linear-gradient(90deg,#363795,#005c97);
}
.greeting{
	font-size: 4rem;
	line-height: 1.5;
	color:hsl(239deg 75% 97%);
	font-weight: 900;
	margin-bottom: 2rem;	
}
.header-links{
	height:100%;
	
}
.header-links img{
	padding: 1.5rem 0;
	height: 90px;
}
.header-links a{
	display: inline-block;
	transition: all .3s ease-out;
}
.header-links a:hover{
	transform: translateY(-0.5rem);
}
.project-div{
	margin: 5rem auto;
	max-width: 1200px;
	padding: 0 50px;
}
.card {
	padding:10px 20px;
    background-color: red;
    height: 600px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 18%);
}
.tag {
	position:absolute;
	bottom: 20px;
	left:2s0px;
	padding: 10px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	background-color: bisque;
}
a{
	text-decoration: none;
	color:black
}
h2{
	text-align: center;
}
.lang-tags{
	background-color: #0892D0;
	display: inline-block;
	margin:0px 5px;
	font-family: monospace;
	font-size:0.9rem;
	padding:0 1px;
}
