
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
}
.header{
	padding:1% 5%;
	min-height: 600px;
	color:#fff;
	font-size: 16px;
	background: linear-gradient(90deg,#363795,#005c97);
}
.greeting{
	font-size: 4rem;
	line-height: 1.5;
	color:hsl(239deg 75% 97%);
	font-weight: 900;
	margin-bottom: 2rem;	
}
.header-links{
	height:100%;
	
}
.header-links img{
	padding: 1.5rem 0;
	height: 90px;
}
.header-links a{
	display: inline-block;
	transition: all .3s ease-out;
}
.header-links a:hover{
	transform: translateY(-0.5rem);
}
.container{
	margin: 0 auto;
	max-width:50em;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color:black
}
h2{
	text-align: center;
}
.content{
	margin: 5rem 0;
}
.block-heading{
	position: relative;
	letter-spacing: 0.5rem;
	padding-bottom: 2rem;
	font-weight: bold;
	background: transparent;
}
.block-heading::before{
	position:absolute;
	top:25%;
	left:35%;
	content:"";
	width:30%;
	height: 8px;
	background-color: #0892D0;
	z-index:-1;
}
.lang-tags{
	background-color: #0892D0;
	display: inline-block;
	margin:0px 5px;
	font-family: monospace;
	font-size:0.9rem;
	padding:0 1px;
}
.project .row{
	margin-bottom: 1rem;
	margin-top:1rem;
}
.project a{
	background-color:rgb(220,220,220);
}
.project a:hover{
	background-color: rgba(220, 220, 220, 0.719);
}
.about-me{
	line-height: 1.5;
	font-size: 1.5rem;
}