@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	margin: 0 auto;
	max-width:50em;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	color:black
}
h2{
	text-align: center;
}
.content{
	margin: 5rem 0;
}
.block-heading{
	padding-bottom: 2rem;
}
.lang-tags{
	background-color: cornflowerblue;
	display: inline-block;
	margin:0px 5px;
	font-family: monospace;
	font-size:0.9rem;
	padding:0 1px;
}
.project .row{
	margin-bottom: 1rem;
	margin-top:1rem;
}
.project a{
	background-color:rgb(220,220,220);
}
.project a:hover{
	background-color: rgba(220, 220, 220, 0.719);
}
